* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER STARTS */
.custom-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.custom-menu li {
  padding: 6px;
  margin: 0 4px;
}

.custom-menu li a {
  color: #000;
  text-decoration: none;
}
/* HEADER ENDS */

/* FOOTER STARTS  */
.footer {
  background-color: #fff;
}
/* FOOTER ENDS  */